<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="ros2_control.xacro"/>

    <!-- Add any Gazebo references to links/joints including color and friction values -->
    <gazebo reference="chassis_link">
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="Castor">
        <material>Gazebo/Blue</material>
        <mu1 value="0.0"/>  <!-- This is friction -->
        <mu2 value="0.0"/>
    </gazebo>

    <gazebo reference="DL_Wheel">
        <material>
            <color rgba="0.79216 0.81961 0.93333 1" />
        </material>
        <!-- Arbitrary friction values -->
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>

    <gazebo reference="DR_Wheel">
        <material>
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
        <!-- Arbitrary friction values -->
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>

    <gazebo reference="BLA">
        <material>
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
        <!-- TODO: Any other configurations for Linear Actuators -->
    </gazebo>

    <gazebo reference="LA">
        <material>
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
        <!-- TODO: Any other configurations for Linear Actuators -->
    </gazebo>

    <!-- Not sure if this is a wheel or a linear actuator -->
    <gazebo reference="TLA">
        <material>
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
        <!-- Included in case its a wheel -->
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>

    <gazebo reference="Hopper">
        <material>
            <color rgba="0.866666666666667 0.909803921568627 1 1" />
        </material>
        <!-- TODO: Any other configurations for the Hopper -->
    </gazebo>

    <gazebo reference="Hopper_Door">
        <material>
            <color rgba="0.866666666666667 0.909803921568627 1 1" />
        </material>
        <!-- TODO: Any other configurations for the Hopper Door -->
    </gazebo>

    <gazebo reference="Hopper_Latch">
        <material>
            <color rgba="1 0 1 1" />
        </material>
        <!-- TODO: Any other configurations for the Hopper Latch -->
    </gazebo>

    <gazebo reference="Excavation">
        <material>
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
        <!-- TODO: Any other configurations for Excavation -->
    </gazebo>

    <gazebo reference="FL_Wheel">
        <material>
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
        <!-- Arbitrary friction values -->
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>

    <gazebo reference="ML_Wheel">
        <material>
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
        <!-- Arbitrary friction values -->
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>

    <gazebo reference="BL_Wheel">
        <material>
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
        <!-- Arbitrary friction values -->
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>

    <gazebo reference="TL_Wheel">
        <material>
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
        <!-- Arbitrary friction values -->
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>

    <gazebo reference="FR_Wheel">
        <material>
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
        <!-- Arbitrary friction values -->
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>

    <gazebo reference="MR_Wheel">
        <material>
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
        <!-- Arbitrary friction values -->
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>

    <gazebo reference="BR_Wheel">
        <material>
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
        <!-- Arbitrary friction values -->
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>

    <gazebo reference="TR_Wheel">
        <material>
            <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
        </material>
        <!-- Arbitrary friction values -->
        <mu1 value="0.001"/>
        <mu2 value="0.001"/>
    </gazebo>

    <!-- Define Gazebo info for any sensors -->
    <gazebo reference="laser_frame">
        <material>Gazebo/Red</material>
        <sensor name="laser" type="gpu_lidar">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                </range>
            </lidar>
            <topic>scan</topic>
            <gz_frame_id>laser_frame</gz_frame_id>
        </sensor>
    </gazebo>

</robot>