<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Add any Gazebo references to links/joints including color and friction values -->
    <gazebo reference="chassis_link">
        <material>
            <ambient>0.35 0.35 0.38 1</ambient>
        </material>
    </gazebo>

    <gazebo reference="Castor">
        <material>
            <ambient>1 1 1 1</ambient>
        </material>
        <collision>
            <surface>
                <friction>
                    <ode>
                        <mu>0.0001</mu> <!-- This is friction -->
                        <mu2>0.0001</mu2>
                    </ode>
                </friction>
            </surface>
        </collision>
    </gazebo>

    <gazebo reference="DL_Wheel">
        <material>
            <ambient>0.00 0.60 1.00 1</ambient>
        </material>
        <collision>
            <surface>
                <friction>
                    <ode>
                        <mu>0.0001</mu>
                        <mu2>0.0001</mu2>
                    </ode>
                </friction>
            </surface>
        </collision>
    </gazebo>

    <gazebo reference="DR_Wheel">
        <material>
            <ambient>0.00 0.85 0.40 1</ambient>
        </material>
        <collision>
            <surface>
                <friction>
                    <ode>
                        <mu>0.0001</mu>
                        <mu2>0.0001</mu2>
                    </ode>
                </friction>
            </surface>
        </collision>
    </gazebo>

    <gazebo reference="BLA">
        <material>
            <ambient>0.65 0.45 0.20 1</ambient>
        </material>
        <!-- TODO: Any other configurations for Linear Actuators -->
    </gazebo>

    <gazebo reference="LA">
        <material>
            <ambient>1.00 0.08 0.58 1</ambient>
        </material>
        <!-- TODO: Any other configurations for Linear Actuators -->
    </gazebo>

    <!-- Not sure if this is a wheel or a linear actuator -->
    <gazebo reference="TLA">
        <material>
            <ambient>1.00 0.85 0.00 1</ambient>
        </material>
        <!-- Included in case its a wheel -->
        <collision>
            <surface>
                <friction>
                    <ode>
                        <mu>1.0</mu>
                        <mu2>0.1</mu2>
                    </ode>
                </friction>
            </surface>
        </collision>
    </gazebo>

    <gazebo reference="Hopper">
        <material>
            <ambient>0.55 0.62 0.68 1</ambient>
        </material>
        <!-- TODO: Any other configurations for the Hopper -->
    </gazebo>

    <gazebo reference="Hopper_Door">
        <material>
            <ambient>0.60 0.40 0.65 1</ambient>
        </material>
        <!-- TODO: Any other configurations for the Hopper Door -->
    </gazebo>

    <gazebo reference="Hopper_Latch">
        <material>
            <ambient>1.00 0.27 0.00 1</ambient>
        </material>
        <!-- TODO: Any other configurations for the Hopper Latch -->
    </gazebo>

    <gazebo reference="Excavation">
        <material>
            <ambient>0.00 1.00 0.80 1</ambient>
        </material>
        <!-- TODO: Any other configurations for Excavation -->
    </gazebo>

    <gazebo reference="FL_Wheel">
        <material>
            <ambient>0.95 0.20 0.20 1</ambient>
        </material>
        <collision>
            <surface>
                <friction>
                    <ode>
                        <mu>0.0001</mu>
                        <mu2>0.0001</mu2>
                    </ode>
                </friction>
            </surface>
        </collision>
    </gazebo>

    <gazebo reference="FL_Wheel_Rotate">
        <implicitSpringDamper>true</implicitSpringDamper>
        <dynamics damping="0.01" friction="0.0"/>
    </gazebo>

    <gazebo reference="ML_Wheel">
        <material>
            <ambient>0.50 0.70 0.90 1</ambient>
        </material>
        <collision>
            <surface>
                <friction>
                    <ode>
                        <mu>1.0</mu>
                        <mu2>0.5</mu2>
                    </ode>
                </friction>
            </surface>
        </collision>
    </gazebo>

    <gazebo reference="BL_Wheel">
        <material>
            <ambient>0.80 0.00 0.80 1</ambient>
        </material>
        <collision>
            <surface>
                <friction>
                    <ode>
                        <mu>0.0001</mu>
                        <mu2>0.0001</mu2>
                    </ode>
                </friction>
            </surface>
        </collision>
    </gazebo>

    <gazebo reference="BL_Wheel_Rotate">
        <implicitSpringDamper>true</implicitSpringDamper>
        <dynamics damping="0.01" friction="0.0"/>
    </gazebo>

    <gazebo reference="TL_Wheel">
        <material>
            <ambient>0.50 0.45 1.00 1</ambient>
        </material>
        <collision>
            <surface>
                <friction>
                    <ode>
                        <mu>0.0001</mu>
                        <mu2>0.0001</mu2>
                    </ode>
                </friction>
            </surface>
        </collision>
    </gazebo>

    <gazebo reference="FR_Wheel">
        <material>
            <ambient>1.00 0.55 0.00 1</ambient>
        </material>
        <collision>
            <surface>
                <friction>
                    <ode>
                        <mu>0.0001</mu>
                        <mu2>0.0001</mu2>
                    </ode>
                </friction>
            </surface>
        </collision>
    </gazebo>

    <gazebo reference="FR_Wheel_Rotate">
        <implicitSpringDamper>true</implicitSpringDamper>
        <dynamics damping="0.01" friction="0.0"/>
    </gazebo>

    <gazebo reference="MR_Wheel">
        <material>
            <ambient>0.20 0.90 0.50 1</ambient>
        </material>
        <collision>
            <surface>
                <friction>
                    <ode>
                        <mu>1.0</mu>
                        <mu2>0.5</mu2>
                    </ode>
                </friction>
            </surface>
        </collision>
    </gazebo>
    
    <gazebo reference="BR_Wheel">
        <material>
            <ambient>0.70 0.20 1.00 1</ambient>
        </material>
        <collision>
            <surface>
                <friction>
                    <ode>
                        <mu>0.0001</mu>
                        <mu2>0.0001</mu2>
                    </ode>
                </friction>
            </surface>
        </collision>
    </gazebo>

    <gazebo reference="BR_Wheel_Rotate">
        <implicitSpringDamper>true</implicitSpringDamper>
        <dynamics damping="0.01" friction="0.0"/>
    </gazebo>

    <gazebo reference="TR_Wheel">
        <material>
            <ambient>0.00 0.90 0.70 1</ambient>
        </material>
        <collision>
            <surface>
                <friction>
                    <ode>
                        <mu>0.0001</mu>
                        <mu2>0.0001</mu2>
                    </ode>
                </friction>
            </surface>
        </collision>
    </gazebo>

    <!-- Define Gazebo info for any sensors -->
    <gazebo reference="laser_frame">
        <material>Gazebo/Red</material>
        <sensor name="laser" type="gpu_lidar">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                </range>
            </lidar>
            <topic>scan</topic>
            <gz_frame_id>laser_frame</gz_frame_id>
        </sensor>
    </gazebo>

</robot>